<a href="https://colab.research.google.com/github/rahmadyn295/studi-independent_orbit/blob/main/Hands_on_4_Dictionary.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
kode_negara={'Indonesia': 'ina','India': 'ind','Japan': 'jpn'}
print(kode_negara)

print(type(kode_negara))

print(kode_negara['Indonesia'])

kode_negara['China'] = 'chn'
print(kode_negara)

kode_negara['Indonesia'] = 'idn'
print(kode_negara)

del kode_negara['China']
print(kode_negara)

print(len(kode_negara))

print('Germany' in kode_negara)

kunci =kode_negara.keys()
print(kunci)

nilai =kode_negara.values()
print(nilai)

pasangan =kode_negara.items()
print(pasangan)

{'Indonesia': 'ina', 'India': 'ind', 'Japan': 'jpn'}
<class 'dict'>
ina
{'Indonesia': 'ina', 'India': 'ind', 'Japan': 'jpn', 'China': 'chn'}
{'Indonesia': 'idn', 'India': 'ind', 'Japan': 'jpn', 'China': 'chn'}
{'Indonesia': 'idn', 'India': 'ind', 'Japan': 'jpn'}
3
False
dict_keys(['Indonesia', 'India', 'Japan'])
dict_values(['idn', 'ind', 'jpn'])
dict_items([('Indonesia', 'idn'), ('India', 'ind'), ('Japan', 'jpn')])

In [ ]:
student = {
    'nama':'hanifah',
    'usia':'20',
    'nilai':{
        'fisika' : 75,
        'kimia' : 89,
        'Ekonomi' : 90
    }
}

print('nilai kimia :',student['nilai']['kimia'])

nilai kimia : 89

In [ ]:
data1={'nama':'hanif','usia':'20','asal':'semarang'}
data2=data1.copy()
print(data2)

usia=data1.get('usia')
print(usia)

data1.update({'gaji':2000000,'pekerjaan':'programmer'})
print(data1)

data1.pop('pekerjaan')
print(data1)

{'nama': 'hanif', 'usia': '20', 'asal': 'semarang'}
20
{'nama': 'hanif', 'usia': '20', 'asal': 'semarang', 'gaji': 2000000, 'pekerjaan': 'programmer'}
{'nama': 'hanif', 'usia': '20', 'asal': 'semarang', 'gaji': 2000000}