<a href="https://colab.research.google.com/github/rahmadyn295/studi-independent_orbit/blob/main/Hands_on_2_variabel%2Ctipedata%2Coperator.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Variabel

In [ ]:
#variabel
"""pembuatan variabel tidak bisa jika:
1.diawali angka (ex: 4rif)
2.tidak boleh menggunakan spasi
3.tidak boleh mengggunakan special character, kecuali simbol underscore (_)(ex:$anam, yg boleh _anam)
4. tidak boleh menggunakan keyword Python (ex:none)
"""
namalengkap='rara putri'
nama_lengkap='rara putri'
nama =input('Masukan Nama Anda :')
usia =input('Masukan Usia Anda :')
print('Nama Anda adalah',nama,'dan Berusia',usia,'tahun')

Masukan Nama Anda :rar
Masukan Usia Anda :12
Nama Anda adalah rar dan Berusia 12 tahun

In [ ]:
Nama ='Hanifa'
Usia = 19
Asal ='Jogja'
IPK= 3.4
MahasiswaAktif= True

print(Nama)
print(Usia)
print(Asal)
print(IPK)
print(MahasiswaAktif)

Hanifa
19
Jogja
3.4
True

In [ ]:
Nama ='Hanifa'
Usia = 19
Asal ='Jogja'
IPK= 3.4
MahasiswaAktif= True

print('Nama Mahasiswa\t\t: {}'.format(Nama))
print('Usia Mahasiswa\t\t: {}'.format(Usia))
print('Asal Mahasiswa\t\t: {}'.format(Asal))
print('IPK Mahasiswa\t\t: {}'.format(IPK))
print('Status Mahasiswa Aktif\t: {}'.format(MahasiswaAktif))

Nama Mahasiswa		: Hanifa
Usia Mahasiswa		: 19
Asal Mahasiswa		: Jogja
IPK Mahasiswa		: 3.4
Status Mahasiswa Aktif	: True

In [ ]:
Nama ='Hanifa'
Usia = 19
Asal ='Jogja'
IPK= 3.4
MahasiswaAktif= True

print(f'Nama Mahasiswa\t\t: {Nama}')
print(f'Usia Mahasiswa\t\t: {Usia}')
print(f'Asal Mahasiswa\t\t: {Asal}')
print(f'IPK Mahasiswa\t\t: {IPK}')
print(f'Status Mahasiswa Aktif\t: {MahasiswaAktif}')

Nama Mahasiswa		: Hanifa
Usia Mahasiswa		: 19
Asal Mahasiswa		: Jogja
IPK Mahasiswa		: 3.4
Status Mahasiswa Aktif	: True

In [ ]:
tahun_lahir=int(input('tahun lahir anda: '))
print('usia saat ini: ', 2024 - tahun_lahir,'tahun')

tahun lahir anda: 2003
usia saat ini:  21 tahun

# Tipe Data

In [ ]:
#integer
nilaia=90
nilaib=-90
type(nilaia)
type(nilaib)

int

In [ ]:
#float
pi=3.14
rata2=7.5
type(pi)
type(rata2)

float

In [ ]:
#string
Buku1='Dongeng Kancil'
nim='209367292201'
type(Buku1)
type(nim)

str

In [ ]:
from typing_extensions import Type
#boolean
Lulusa= False
Lulusb = True
type(Lulusa)
type(Lulusb)

bool

# TypeCasting
catatan:
1. Jika ingin mengubah data pastikan dulu bahwa data yang diubah cocok
    ex: string ke int
    nama='eka'
    nama=int(nama)
  hal ini akan menimbulkan eror karena isi dari variabel nama bukanlah angka namun sebuah kata/kalimat. hal ini berlaku juga untuk float

In [ ]:
#float ke int
akurasi= 90.3
akurasi = int(akurasi)
print(akurasi)
type(akurasi)

90

int

In [ ]:
#int ke float
Jumlah = 20
Jumlah = float(Jumlah)
print(Jumlah)
type(Jumlah)

20.0

float

In [ ]:
#string ke float
akurasi= '90.3'
akurasi = float(akurasi)
print(akurasi)
type(akurasi)

90.3

float

In [ ]:
#int ke string
Jumlah = 20
Jumlah = str(Jumlah)
print(Jumlah)
type(Jumlah)

20

str

In [ ]:
#string ke int
Jumlah = '20'
Jumlah = int(Jumlah)
print(Jumlah)
type(Jumlah)

20

int

In [ ]:
#string ke int
Nama = 'eka'
Nama = int(Nama)
print(Nama)
type(Nama)

ValueError: invalid literal for int() with base 10: 'eka'

In [ ]:
#float to bool
akurasi= 90.3
akurasi = bool(akurasi)
print(akurasi)
type(akurasi)

True

bool

# Operator

In [ ]:
#operator Unary
print(~4)
print(-7)
print(-(-7))
print(+5)

-5
-7
7
5

Aritmatika
1. ** = Pemangkatan
2. (*) = perkalian
3. (+) = Penambahan
4. (-) = pengurangan
5. / = pembagian
6. // = pembagian dengan pembulatan kebawah
7. % = Sisa Hasil pembagian

In [ ]:
#operator aritmatika

x=5
y=3
print(x ** y )
print(x * y )
print(x + y )
print(x - y )
print(x / y )
print(x // y )
print(x % y )

125
15
8
2
1.6666666666666667
1
2

In [ ]:
harga = 100

harga +=20
print (harga)

harga -=10
print (harga)

120
110

Operator Perbandingan
1. < = kurang dari
2. (>) = lebih dari
3. (<=) = kurang dari sama dengan
4. (>=) = lebih dari sama dengan
5. (==) = sama dengan
6. (!=) = tidak sama dengan

In [ ]:
x=5
y=3
print(x < y )
print(x > y )
print(x <= y )
print(x >= y )
print(x == y )
print(x != y )

False
True
False
True
False
True

In [ ]:
password= 'user123'
password_tersimpan= 'user123'

verifikasi = password==password_tersimpan
print(verifikasi)
if verifikasi == True:
  print ('verifikasi berhasil')
else:
  print ('verifikasi gagal')

True
verifikasi berhasil

operator logika
1. and
2. or
3. not

In [ ]:
a =40
b=32
c= 16

print (a>b and b<c)
print (c>a or c==b)
print(not(a==b))

False
False
True

# Latihan

In [ ]:
p =int(input('masukan nilai panjang:'))
l =int(input('masukan nilai lebar:'))

print('Luas Persegi panjang adalah = ',p*l)
print('Keliling Persegi panjang adalah = ',2*(p+l))

masukan nilai panjang:10
masukan nilai lebar:13
Luas Persegi panjang adalah =  130
Keliling Persegi panjang adalah =  46

In [ ]:
phi = 3.14
r = int(input('masukan nilai jari-jari:'))

Llingkaran= phi*r*r
Klingkaran = 2 *phi*r

print('Luas Lingkaran adalah = ',Llingkaran)
print('Keliling Lingkaran adalah = ',Klingkaran)

masukan nilai jari-jari:10
Luas Lingkaran adalah =  314.0
Keliling Lingkaran adalah =  62.800000000000004

In [ ]:
phi = 3.14
r = int(input('masukan nilai jari-jari:'))

Lbola= 4*phi*r*r
Vbola= 4/3 * phi *r*r*r

print('Luas Bola adalah = ',Lbola)
print('Keliling Bola adalah = ',Vbola)

masukan nilai jari-jari:2
Luas Bola adalah =  50.24
Keliling Bola adalah =  33.49333333333333