<a href="https://colab.research.google.com/github/rahmadyn295/studi-independent_orbit/blob/main/Hands_On_3_Container.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Container

List []

In [ ]:
biodata=['hanifa',2004,'semarang','perempuan',3.84,True]
print(biodata)

['hanifa', 2004, 'semarang', 'perempuan', 3.84, True]

In [ ]:
pixel=[[0,1,1],[2,3,5],[1,2,3]]

print(pixel)

[[0, 1, 1], [2, 3, 5], [1, 2, 3]]

In [ ]:
kota=[['semarang','jogja','surabaya'],
 ['jakarta','bandung'],
  ['malang']]
print(kota)

print(len('semarang'))

[['semarang', 'jogja', 'surabaya'], ['jakarta', 'bandung'], ['malang']]
8

In [ ]:
print('desimal'[3])# menghitungnya dari depan dimulai dari 0
print('jingga'[-3])# menghitungnya dari belakang dimulai dari -1

i
g

In [ ]:
print('kebanggaan'[2:8])#[index awal :index ankhir+1]
print('kemerdekaan'[-9:-2])

bangga
merdeka

In [ ]:
print ('warna')
print ('warna'[3:])#index yg depan dikecualikan yg diikutsertakan yg belakang
print ('warna'[:3])#index yg belakang dikecualikan yg diikutsertakan yg depan
print ('warna'[:-1])
print ('warna'[-1:])

warna
na
war
warn
a

In [ ]:
cuaca=['cerah']

cuaca.append('berawan')
cuaca.append('hujan')
cuaca.append('mendung')

print(cuaca)

['cerah', 'berawan', 'hujan', 'mendung']

In [ ]:
angka=[1,2,3]
huruf=['a','b']

gabung=angka+huruf
print(gabung)

[1, 2, 3, 'a', 'b']

In [ ]:
#pemeriksaan elemen dalam list bisa menggunakan in atau not in
cuaca=['cerah','berawan','mendung','hujan']

'berangin' in cuaca

False

In [ ]:
cuaca=['cerah','berawan','mendung','hujan']#mencari index

cuaca.index('hujan')

3

In [ ]:
cuaca=['cerah','berawan','mendung','hujan','berangin','gerimis']#mencari index

del cuaca[2]#menghapus berdasarkan index
print (cuaca)

cuaca.remove('hujan')#menghapus elemen
print (cuaca)

cuaca.clear()#menghapus seluruh elemen
print (cuaca)

['cerah', 'berawan', 'hujan', 'berangin', 'gerimis']
['cerah', 'berawan', 'berangin', 'gerimis']
[]

TUPLE()
1. tidak bisa menambah atau menghapus elemen

set {}
1. mengabaikan nilai bernilai sama
2. tidak memiliki index

In [ ]:
angka={1,1,1,3,5,3,9,5,4}

print(angka)

{1, 3, 4, 5, 9}

In [ ]:
angka={1,3,5,9,4}

print(angka[1])

TypeError: 'set' object is not subscriptable

In [ ]:
angka={1,3,5,9,4}#menambahkan elemen
angka.add(6)
angka.add(7)
angka.add(14)
print(angka)

{1, 3, 4, 5, 6, 7, 9, 14}

In [ ]:
angka={1, 3, 4, 5, 6, 7, 9, 14}#menghapus
angka.remove(3)
angka.remove(7)
print(angka)

{1, 4, 5, 6, 9, 14}

In [ ]:
A={1,3,5,7,9}
B={1,3,7}

irisan= A.intersection(B)
print(irisan)

gabungan= A.union(B)
print(gabungan)

{1, 3, 7}
{1, 3, 5, 7, 9}

Dictionary {}

In [ ]:
data1={'nama':'hanif','usia':'20','asal':'semarang'}
data2=data1.copy()
print(data2)

usia=data1.get('usia')
print(usia)

data1.update({'gaji':2000000,'pekerjaan':'programmer'})
print(data1)

data1.pop('pekerjaan')
print(data1)

{'nama': 'hanif', 'usia': '20', 'asal': 'semarang'}
20
{'nama': 'hanif', 'usia': '20', 'asal': 'semarang', 'gaji': 2000000, 'pekerjaan': 'programmer'}
{'nama': 'hanif', 'usia': '20', 'asal': 'semarang', 'gaji': 2000000}